<!DOCTYPE html>
<html lang="en" th:fragment="layout(title,staticResource1, artice,staticResource2)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}?:~{}">template</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <th:block th:replace="${staticResource1} ?: ~{}">
    </th:block>
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:classappend="${#request.requestURI} == '/home' ? 'active' : ''"
                th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:classappend="${#request.requestURI} == '/product' ? 'active'"
                th:href="@{/product}">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#request.requestURI} == '/category' ? 'active'"
                th:href="@{/category}">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#request.requestURI} == '/brand' ? 'active'"
                th:href="@{/brand}">Brand</a>
        </li>
    </ul>
    <th:block th:replace="${artice} ?: ~{}">
        Hello
    </th:block>

    <th:block th:replace="${staticResource2} ?: ~{}">
    </th:block>
</body>

</html>